EA_EMAIL=""
EA_PASSWORD=""
KYBER_TOKEN=""

KYBER_SERVER_NAME="Your Server Name"
#KYBER_SERVER_DESCRIPTION=""
#KYBER_SERVER_PASSWORD=""
#KYBER_SERVER_MAX_PLAYERS=40

KYBER_INSTALL_PATH=""
KYBER_MOD_FOLDER_SOURCE=""
KYBER_MOD_FOLDER="/mnt/battlefront/mods"
KYBER_SERVER_PLUGINS_SOURCE=""
KYBER_SERVER_PLUGINS_PATH="/mnt/battlefront/plugins"
KYBER_MODULE_CHANNEL="stable"
#KYBER_LOG_LEVEL="info"

# Plugin settings (all by default)
#KYBER_ENABLED_PLUGINS="PlayersBalancer"

# PlayersBalancer plugin settings
# KYBER_PLUGIN_BOT_DENSITY="0.8"
# KYBER_PLUGIN_USE_WHITELIST_GAMEMODES="true"
# KYBER_PLUGIN_ENABLE_SHUFFLER="true"